html {
  background-color: rgb(255, 221, 237)
}

#cs1300-gallery {
  display: flex;
  flex-direction: column;
  
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 5px;
}